<div class="shaker-overlay">
	<div id="overlay">
		<div id="bounce" class="bounce">
			<img id="shaker-img" src="/images/shaker.png">
			<div class="shaker-div">Click to reveal your drink! Cheers!</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<h1 class="emotions-font larger-font"> <%= @drink.name %></h1>
	<div class="animation">
		<%= image_tag @drink.image, class: "drink-image" %>
	</div>
</div>

<div class="container-fluid recipe-button-group">

	  		<div class="recipe-button">
				<a href="#recipe-container">See Recipe</a>
	  		</div>

	  		<div class="recipe-button">
				<% if current_user %>
					  <%= link_to "Save Drink",   favorite_drink_path(@drink, type: "favorite"), method: :put %>
				<% end %>
	  		</div>
	  
</div>	




<div id="recipe-container">
	    <div class="left-ingredients">
	                <h2> Ingredients: </h2>
	                	<ul>
	                    <% @drink.ingredients.each do |i| %>
	                        <li><p><%= i %></p></li>
	                        <% end %>
	                     </ul>
	    </div>
	    <div class="right-instructions">

	            <h2> Instructions: </h2>
	                    <p> <%= @drink.instructions %></p>
	    </div>
</div>