<div id="overlay">
	<div id="bounce" class="bounce">
		<img id="shaker-img" src="/images/shaker.png">
	</div>
	<div class="shaker-div type-bebas">Click to reveal your drink! Cheers!</div>
</div>


<div class="drinks-container">
	<%= image_tag @drink.image, class: "drink-image" %>
	<div class="emotions-font type-bebas"> <%= @drink.name %></div>
</div>



<div id="recipe-container">
	    <div class="left-ingredients">
	                <h2 class="type-news-cycle"> INGREDIENTS: </h2>
	                    <% @drink.ingredients.each do |i| %>
	                       <p class="type-anon-pro"><%= i %></p>
	                        <% end %>
	          
	    </div>
	    <div class="right-instructions">

	            <h2 class="type-news-cycle"> INSTRUCTIONS: </h2>
	                    <p class="type-anon-pro"> <%= @drink.instructions %></p>
	    </div>
</div>


<div class="recipe-button-area">
	<div class="recipe-button">
		<a href="#player" id="watch" class="type-bebas"> WATCH HOW-TO</a>
	</div>

		<% if current_user %>
		<div class="recipe-button">
		  <%= link_to "SAVE DRINK",   favorite_drink_path(@drink, type: "favorite"), method: :put, class: "type-bebas" %>
		</div>
		<% end %>

</div>



<div id="player">
	 <iframe class="video w100 video-player" src="//www.youtube.com/embed/videoID" frameborder="0" allowfullscreen></iframe>
</div>




