<div class="container-fluid">
	<div class="drink-font">
		<h1 > You chose: <%= @emotion.name %> </h1>
		<h2>Here's your drink! </h2>
	</div>


	<div class="drink-section">
		<h2> <%= @drink.name %></h2>
		<%= image_tag @drink.image, class: "drink-image" %>
	</div>		

</div>


	<table align="center">
		<tr>
			<td class="drink-td">
				<div class="drink-ingredients-section">
					<h2> Ingredients: </h2>
					<% @drink.ingredients.each do |i| %>
						<p><%= i %></p>
						<% end %>

				</div>
			</td>
			<td class="drink-td">
				<div class="drink-instructions-section">
					<h2> Instructions: </h2>
					<p> <%= @drink.instructions %></p>

				</div>
			</td>
		</tr>
	</table>

