<div class="container-fluid">
	<div class="drink-font">
		<h1 > You chose: <%= @emotion.name %> </h1>
		<h2>Here's your drink! </h2>
	</div>


	<div class="drink-section">
		<h2> <%= @drink.name %></h2>
		<%= image_tag @drink.image, class: "drink-image" %>
	</div>		

	<div class="drink-ingredients-section container">
		<h2> Ingredients: </h2>
		<% @drink.ingredients.each do |i| %>
			<p><%= i %></p>
			<% end %>

	</div>

	<div class="drink-instructions-section container">
		<h2> Instructions: </h2>
		<p> <%= @drink.instructions %></p>

	</div>






</div>

