<div class="splash-center">

		<img src="/images/logo.png" class="logo-img"> 
		<h2 class="type-news-cycle neg-margin">&mdash; YOUR NEW PERSONAL BARTENDER &mdash; </h2>

</div>

<div class="container-fluid type-bebas get-started">
		
	<h2><a href="#" data-toggle="modal" data-target="#loginModal">GET STARTED</a>
	</h2>
</div>



<div class="container-fluid splash-login-area">
	<div>
		<div class="splash-img-left">
			<img src="/images/all-drinks.png" class="splash-img">
		</div>
		<div class="splash-img-right">
			<img src="/images/all-drinks.png" class="splash-img">
		</div>
	</div>

</div>

<div class="welcome">
	<!-- signUpModal -->
	
	<div class="modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:visible">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content motra">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text type-news-cycle" id="myModalLabel">CREATE AN ACCOUNT</h4>
	      </div>
	      <div class="modal-body">
			    <%= form_for @user do |f| %>
			      <div>
			        <%= f.text_field :name, placeholder: "Name", class: "form-control type-anon-pro" %>
			      </div>
			      <div>
			        <%= f.text_field :email, placeholder: "Email", class: "form-control type-anon-pro" %>
			      </div>
			          <div>
			        <%= f.text_field :city, placeholder: "City", class: "form-control type-anon-pro" %>
			      </div>
			      <div>
			        <%= f.password_field :password, placeholder: "Password", class: "form-control type-anon-pro" %>
			      </div>
			       <div>
			    	  <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control type-anon-pro"%>
			    	</div>
			      <%= f.submit "SIGN UP", class: "btn btn-button-name btn-default type-news-cycle-space btn-default nav-space"  %>
			    <% end %> 
		</div>

				<div class="modal-footer">
					<span class="text type-anon-pro nav-more-space">
            		Already have an account?
            		</span>
            		<button data-toggle="modal" data-target="#loginModal" data-dismiss="modal" style="display: inline" class="btn btn-button-name btn-default type-news-cycle-space btn-default ">
                 	LOG IN HERE
               		</button>
        		</div>

	    </div>
	  </div>
	</div>
	</div>

	<!-- Login Modal -->
	<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="overflow:visible">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content motra">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title text type-news-cycle-space" id="myModalLabel">LOGIN</h4>
	      </div>
		      <div class="modal-body">

				<%= form_for @user, url: "/sessions", method: "post" do |f| %>
				  <div>
				    <%= f.text_field :email, placeholder: "Email", class: "form-control type-anon-pro" %>
				  </div>
				  <div>
				    <%= f.password_field :password, placeholder: "Password", class: "form-control type-anon-pro" %>
				  </div>
				  <%= f.submit "LOGIN", class: "btn btn-button-name btn-default type-news-cycle-space btn-default nav-space" %>
				<% end %>
			  </div>
			<div class="modal-footer">
				<span class="text type-anon-pro">
            New to Barkeep?
            	</span>
            <button data-toggle="modal" data-target="#signUpModal" data-dismiss="modal" style="display: inline" class="btn btn-button-name btn-default type-news-cycle-space">
                REGISTER HERE
               </button>
            
        	</div>	

	    </div>
	  </div>
	</div>
</div>




<div style="clear: both;"></div>
