<!DOCTYPE html>
<html>
<head>
  <title>Bartend.Me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'partials/navbar' %>
<%= yield %>

</body>
</html>
