<!DOCTYPE html>
<html>
<head>
  <title>Barkeep!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" 
      type="image/png" 
      href="/images/icon_example.png">
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=News+Cycle' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css'>

 <script src="https://apis.google.com/js/client.js?onload=onClientLoad" type="text/javascript"></script>


  <%= csrf_meta_tags %>

</head>
<body>

<%= render 'partials/navbar' %>
<%= render 'partials/messages' %>
<%= yield %>

</body>
</html>
